:root{
    --content-width: 90vw;
    --content-width-max: 800px;
    --header-margin-vertical: 10px;
    --header-padding-vertical: 10px;
    --logo-img-size: 30%;
    --h1-height-min: 40px;
    --height-coeff-h1: 0.1;
    --nav-a-font-size-min: 15px;
    --height-coeff-nav: 0.01;
    --wrapper-element-vertical-margin: 10px;
}

body{
    background: linear-gradient(215deg, #8AA9D6 33%, #0D61BC 66%, #2b5494);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header{
    position: relative;
    z-index: 0;
    margin: var(--header-margin-vertical)  auto;
    padding: var(--header-padding-vertical);
    max-width: var(--content-width-max);
    width: var(--content-width);
    background: linear-gradient(215deg, #8AA9D6 33%, #0D61BC 66%, #2b5494);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid red;
}

h1{
    position: relative;
    z-index: 1;
    text-align: center;
    background: linear-gradient(45deg, #11859C , #EE373F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(var(--h1-height-min) + var(--height-coeff-h1) * var(--content-width));
    line-height: calc(var(--h1-height-min) + var(--height-coeff-h1) * var(--content-width));
    padding: 0px;
    margin: 0px;
    margin-block: 0px;
    border: 1px solid blue;
}

.img-logo{
    position: absolute;
    z-index: 0;
    top: 0px;
    left: calc(50% - var(--logo-img-size) / 2);
    opacity: 0.4;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
}

nav a{
    text-decoration: none;
    font-size: calc(var(--nav-a-font-size-min) + var(--height-coeff-nav) * var(--content-width));
}

nav a:hover{
    color:#12640f;
}

.content-wrapper{
    display: flex;
    gap: 20px;
    margin: 5px 1vw;
}

main{
    margin: var(--wrapper-element-vertical-margin) 0px;
    flex-grow: 1;
    border: 1px solid #2b5494;
}

aside{
    padding: 3px;
    margin: var(--wrapper-element-vertical-margin) 0px;
    min-width: 100px;
    border: 1px solid green;
}

aside a{
    color:#061b3b;
    text-decoration: none;
}

aside a:hover{
    color:#12640f;
}

aside h3{
    text-align: center;
}

aside ul{
    padding-left: 1.3em;
    margin: 3px auto;
}

@media (max-width: 560px) {
    .content-wrapper{
        display: block;
    }

    aside ul{
        column-count: 2;
        column-fill: balance;
        column-gap: 25px;
    }
    
}